doctype html
html.h-100(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors")
    meta(name="generator" content="Jekyll v3.8.5")
    title Fun with Twilio
    link(rel="canonical" href="/")
    link(
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY="
      crossorigin="anonymous"
    )
    style.
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
  body.d-flex.flex-column.h-100
    // Begin page content
    main.flex-shrink-0(role="main")
      .container
        h1.mt-5 Fun with Twilio
        if call
          h2 Calls
          pre= JSON.stringify(call, null, ' ')
        if won
          h2 Won
          pre= JSON.stringify(won, null, ' ')
        if lost
          h2 Lost
          pre= JSON.stringify(lost, null, ' ')
        if like
          h2 Likes
          pre= JSON.stringify(like, null, ' ')
        if unknown
          h2 Unknown
          pre= JSON.stringify(unknown, null, ' ')

        h2
          a(href="/reset") Reset

    footer.footer.mt-auto.py-3
      .container
        span.text-muted By
          |
          |
          a(href="https://chilts.org/") chilts
          | .

